@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Heebo:wght@100;400&display=swap');
/*
    font-family: 'Cinzel', serif;

    font-family: 'Heebo', sans-serif;

*/


/*Override browser default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #C7BCAF;
    --color-green: #768377;
    --color-yellow: #CB891D;
    --color-red: #CC625A;
    --color-dark: #383835;
    --color-brown: #6E4A0F;
}

body {
    font-size: 62.5%;
    font-family: 'Heebo', sans-serif;
    background-color: var(--color-light);
}

/* Navbar Styles*/
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: var(--color-dark);
    position: fixed;
    z-index: 99;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navButton,
#navButtonLabel {
    display: none;
}

.navbar-list-item {
    list-style: none;
    margin-left: 1rem;
}

.nav-item {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
    color: var(--color-light);
    transition: all 500ms ease-in-out;
}

.nav-item:hover {
    color: var(--color-yellow);
}

.active {
    color: var(--color-yellow);
}

#logo {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-light);
    text-decoration: none;
}

/*Hero Image and Overlay*/
#heroImg {
    /*Photo by Cristina Gottardi on Unsplash*/
    background: url(assets/images/cristina-gottardi-Pl8ZMtFiyi8-unsplash.webp) no-repeat center center/cover;
    height: 100vh;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto; */
    position: relative;
}

#imageOverlay {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(56, 56, 53), rgba(56, 56, 53, .5));
}

/*Hero Title and Text*/

#heroContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    margin: 0 auto;
}

.title-text {
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    color: var(--color-yellow);
}

#heroCopy {
    font-size: 2rem;
    width: 40%;
    color: var(--color-light);
    text-align: center;
}

.btn-site-wide {
    font-size: 1rem;
    font-weight: bold;
    color: #D9D9D9;
    background-color: #CB891D;
    padding: .75rem 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 20px 3px var(--color-dark);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.btn-site-wide a {
    color: #D9D9D9;
    text-decoration: none;
}

.btn-site-wide:hover {
    background-color: var(--color-brown);

}

/*Subscription Area*/

#subscribeBanner {
    background-color: #383835;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem 3rem;
}

#subscribeBannerCTA {
    margin-right: 1rem;
    padding-left: 1rem;

    width: 50%;
}

#subscribeBannerForm {
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
    width: 50%;
}

.secondary-title {
    color: var(--color-yellow);
    font-size: 5rem;
    font-weight: 400;
}

#subscribeBannerCTA>p {
    color: var(--color-light);
    font-size: 2rem;
    font-weight: 100;
}

#subscribeBannerForm form input {
    border: none;
    border-radius: 8px;
    width: 90%;
    padding: 1rem;
    margin: .5rem;
    background-color: #D9D9D9;
    font-size: 2rem;
}

#subscribeBannerForm form button {
    border: none;
    border-radius: 8px;
    width: 90%;
    padding: .75rem 1rem;
    margin: .5rem;
    color: var(--color-light);
    background-color: var(--color-yellow);
    font-size: 2rem;
    transition: all 300ms ease-in-out;
}

#subscribeBannerForm form button:hover {
    background-color: var(--color-brown);

}

.smallText {
    color: var(--color-light);
    font-size: 1rem;
    font-weight: 100;
    margin: .5rem;
}

/* Articles and Card Area*/
#articles-home-page {
    margin: 2rem 1rem;
    padding: 1rem;
}

.heading-sitewide {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: var(--color-dark);
}

.cards-container {
    width: 90%;
    margin: 5rem auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card-primary {
    background-color: #D9D9D9;
    width: 415px;
    display: flex;
    flex-direction: column;
    color: var(--color-dark);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.card-primary:first-of-type {
    height: fit-content;
}

/*https://copyprogramming.com/howto/select-first-div-of-mutliple-div-with-same-class-name-duplicate#select-first-div-of-mutliple-div-with-same-class-name-duplicate*/
/*Target the first element in multiple divs*/
.card-image-container:nth-of-type(1) {
    margin: -4rem auto 1rem auto;
}

.card-image-container {
    background-color: var(--color-green);
    height: 350px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
    margin-top: 1rem;
}

/*Photo by Alexander Tsang on Unsplash*/
.image-container-1 {
    background: url("assets/images/door-image-min.jpg") no-repeat center center/cover;
    border-radius: 8px;
    height: 100%;
}

/*Photo by Estée Janssens on Unsplash*/
.image-container-2 {
    background: url("assets/images/estee-janssens-zEqkUMiMxMI-unsplash-min.jpg") no-repeat center center/cover;
    border-radius: 8px;
    height: 100%;
}

/*Photo by Jessica Felicio on Unsplash*/
.image-container-3 {
    background: url("assets/images/jessica-felicio-YEbFUPYfUlo-unsplash-min.jpg") no-repeat center center/cover;
    border-radius: 8px;
    height: 100%;
}

.card-secondary {
    background-color: var(--color-yellow);
    width: 415px;
    height: fit-content;
    border-radius: 8px;
}

.secondary-card-copy {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-copy-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.card-category {
    color: var(--color-brown);
    font-size: 1rem;
    padding-bottom: .5rem;
}

.card-title {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.card-article {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card-footer {
    display: flex;
    align-items: center;
}

.article-link a {
    color: var(--color-dark);
    text-decoration: none;
    font-size: 1rem;
}

.article-link {
    margin: 0 auto 0 .5rem;
}

.article-readtime {
    color: var(--color-brown);
    font-size: 1rem;
}

.mt--20 {
    margin-top: -28rem;
}

.dark-card {
    background-color: var(--color-dark);
    color: var(--color-light);
    margin-top: -4.5rem;
}

.red {
    background-color: var(--color-red);
    color: var(--color-light);
}

/*Photo by Alyona Grishina on Unsplash*/
#profileImage {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url("assets/images/alyona-grishina-BBmi4nJjKk8-unsplash-min.jpg") no-repeat center center/cover;
}

/*Footer Area*/
footer {
    background-color: var(--color-dark);
    padding: 1rem 2rem;
}

#footerNav {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
}

#footerLogo {
    color: var(--color-yellow);
    font-size: 2rem;
    text-align: left;
}

#quickLinks h3,
#socialLinks h3 {
    color: var(--color-yellow);
    font-size: 1.5rem;
}

#quickLinks ul,
#socialLinks ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quickLinks li a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 1rem;
    transition: all 300ms ease-in-out;
}

.social-link {
    font-size: 1.5rem;
    color: var(--color-light);
    margin-right: 1rem;
    transition: all 300ms ease-in-out;
}

#quickLinks li a:hover,
.social-link:hover {
    color: var(--color-yellow);
}

#footerRule {
    margin-top: 1rem;
    color: var(--color-yellow);
}

#footerSmallText {
    margin: 1rem auto;
    text-align: center;
    color: var(--color-light);
}

/*Read Article One Page*/
.article-hero {
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.article-hero h1 {
    width: 80%;
    text-align: center;
}

.main-article-image {
    background: url(assets/images/door-image-min.jpg) no-repeat center center/cover;
    width: 70%;
    height: 500px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
}

.main-article-image-2 {
    background: url(assets/images/jessica-felicio-YEbFUPYfUlo-unsplash-min.jpg) no-repeat center center/cover;
    width: 70%;
    height: 500px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
}

.main-article-image-3 {
    background: url(assets/images/estee-janssens-zEqkUMiMxMI-unsplash-min.jpg) no-repeat center center/cover;
    width: 70%;
    height: 500px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
}

.article-page-content {
    display: flex;
    align-items: flex-start;
    margin: 2rem;
}

.article {
    width: 80%;
    font-size: 1rem;
}

.article p {
    width: 80%;
    margin: 2rem auto;
}

.sub-heading {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}

em {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.daily-stoic-link a {
    color: var(--color-brown);
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

.daily-stoic-link a:hover {
    color: var(--color-yellow);
}

.more-articles {
    width: 20%;
    height: 100%;
    margin: 0 auto;
}

.aside-heading {
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    margin: 2rem auto;
}

.aside-card {
    width: 100%;
    height: fit-content;
    background-color: #D9D9D9;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
    padding: .5rem 0 1rem 0;
    margin-bottom: 2rem;
}

.aside-card-image-1 {
    background: url(assets/images/jessica-felicio-YEbFUPYfUlo-unsplash-min.jpg) no-repeat center center/cover;
    height: 200px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
}

.aside-card-title {
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.aside-card-btn a {
    margin: .5rem auto 1rem 1rem;
    font-size: 1rem;
    color: var(--color-brown);
    text-decoration: none;
}

.aside-card-image-2 {
    background: url(assets/images/estee-janssens-zEqkUMiMxMI-unsplash-min.jpg) no-repeat center center/cover;
    height: 200px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
}

.aside-card-image-3 {
    background: url(assets/images/door-image-min.jpg) no-repeat center center/cover;
    height: 200px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px 3px #868685;
}

.aside-CTA {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-CTA h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/**My Mastery Page and Form*/
.container {
    padding-top: 4rem;
    display: flex;
}

.form-container {
    background-color: var(--color-green);
    margin: 2rem 0 2rem 2rem;
    border-radius: 8px;
    padding: 2rem 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}

#formTitle {
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    text-align: center;
    color: #D9D9D9;
    margin-bottom: 2rem;
}

.form-container form {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.form-container form input {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    box-shadow: 0 6px 8px #535353;
    background-color: #D9D9D9;
}

.form-container form input:hover {
    border: 3px solid var(--color-yellow);
}

.form-container form label {
    margin-left: 1rem;
    color: #D9D9D9;
}

#TsAndCs {
    font-size: .75rem;
    margin-top: 1rem;
}

#formSeperation hr {
    color: #D9D9D9;
    margin: 1rem auto;
}

#signUpWithGoogle {
    background-color: var(--color-yellow);
    padding: .5rem 1rem;
    margin: 1rem auto;
    border-radius: 6px;
    font-size: 1rem;
    color: #D9D9D9;
    text-align: center;
    box-shadow: 0 6px 8px #535353;
}

#signUpWithGoogle i {
    margin-right: 1rem;
}

#signUpWithGoogle:hover {
    background-color: var(--color-brown);
    font-weight: bold;
}

#alternateSignUpIcons {
    display: flex;
    justify-content: space-evenly;
}

.signUpWithIcon {
    background-color: var(--color-light);
    border-radius: 6px;
    padding: 1rem 1.25rem;
    color: var(--color-dark);
    font-size: 1.5rem;
    box-shadow: 0 6px 8px #535353;
}

.signUpWithIcon:hover {
    background-color: var(--color-yellow);
    color: #D9D9D9;
}

.formImageContainer {
    width: 60%;
    margin: 2rem 2rem 2rem 0;
    border-radius: 8px;
    position: relative;
}

.formImage {
    background: url("assets/images/cristina-gottardi-Pl8ZMtFiyi8-unsplash.webp") no-repeat center center/cover;
    height: 100%;
    position: relative;
    border-radius: 8px;
    z-index: -1;
    top: -100%;
}

#formImageOverlay {
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(56, 56, 53), rgba(56, 56, 53, .5));
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formImageOverlay .secondary-title {
    width: 90%;
}

#formImageOverlay p {
    color: #D9D9D9;
    font-size: 2rem;
    width: 90%;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding-top: 6rem;
    }

    .form-container {
        width: 90%;
        margin: 1rem auto 2rem auto;
    }

    .formImageContainer {
        display: none;
    }
}


/*Media Queries for Mobile Devices*/

@media (max-width: 698px) {

    /**START Media Queries for Mobile Navigation*/
    #logo {
        font-size: 1.5rem;
    }

    .navbar {
        position: fixed;
        z-index: 99;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .menu {
        position: absolute;
        background-color: var(--color-dark);
        left: 0;
        top: 100%;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-list-item {
        margin: 1rem 0;
    }

    /*Navigation Burger Menu*/
    #navButton:checked~.menu {
        display: block;
    }

    #navButtonLabel {
        display: block;
    }

    #navButtonLabel {
        font-size: 2rem;
        color: var(--color-light);
    }

    /**END Media Queries for Mobile Navigation*/

    /*START Hero Section Media Queries*/
    .title-text {
        font-size: 4rem;
        text-align: center;
    }

    #heroCopy {
        font-size: 1.5rem;
        width: 100%;
        color: var(--color-light);
        text-align: center;
        margin-bottom: 2rem;
    }

    .btn-site-wide {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }

    /*END Hero Section Media Queries*/

    /*START Subscription Area Media Queries*/
    #subscribeBanner {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    #subscribeBannerCTA {
        width: 100%;
    }

    #subscribeBannerCTA>p {
        font-size: 1.25rem;
    }

    .secondary-title {
        font-size: 2rem;
    }

    #subscribeBannerForm {
        width: 100%;
        padding-top: 1.5rem;
    }

    #subscribeBannerForm form input {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }

    #subscribeBannerForm form button {
        width: 100%;
        font-size: 1.5rem;
    }

    /*END Subscription Area Media Queries*/

    /*START Articles and Card Area Media Queries*/
    .heading-sitewide {
        font-size: 2rem;
    }

    .cards-container {
        margin-top: 5rem;
        padding: 0%;
        width: 100%;
    }

    .card-primary {
        margin-bottom: 3rem;
    }

    .card-secondary {
        margin-bottom: 5rem;
    }

    .mt--20 {
        margin: 3rem auto 3rem;
    }

    .dark-card {
        margin: 0 auto 2rem auto;
    }

    .card-image-container {
        height: 250px;
    }

    .card-image-container:nth-of-type(1) {
        margin: -2rem auto 1rem auto;
    }

    /*END Articles and Card Area Media Queries*/

    /*START Footer Media Queries*/
    #footerNav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #quickLinks,
    #socialLinks {
        margin-top: 1rem;
    }

    #socialLinks ul {
        display: flex;
        flex-direction: row;
    }

    /*END Footer Media Queries*/

    /*START Article Page Media Queries*/
    .article-page-content {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }

    .article {
        width: 100%;
    }

    .main-article-image,
    .main-article-image-2,
    .main-article-image-3 {
        width: 100%;
    }

    .more-articles {
        width: 100%;
    }

    /*END Article Page Media Queries*/
}


/*Media Queries for Tablet Devices*/
@media (max-width: 900px) {


    .navbar {
        position: fixed;
        z-index: 99;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .menu {
        position: absolute;
        background-color: var(--color-dark);
        left: 0;
        top: 100%;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-list-item {
        margin: 1rem 0;
    }

    /*Navigation Burger Menu*/
    #navButton:checked~.menu {
        display: block;
    }

    #navButtonLabel {
        display: block;
    }

    #navButtonLabel {
        font-size: 2rem;
        color: var(--color-light);
    }

    /**END Media Queries for Mobile Navigation*/

    #subscribeBanner {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    #subscribeBannerCTA {
        width: 100%;
    }

    #subscribeBannerCTA>p {
        font-size: 1.25rem;
    }

    .secondary-title {
        font-size: 2rem;
    }

    #subscribeBannerForm {
        width: 100%;
        padding-top: 1.5rem;
    }

    #subscribeBannerForm form input {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }

    #subscribeBannerForm form button {
        width: 100%;
        font-size: 1.5rem;
    }

    /*START Articles and Card Area Media Queries*/
    .heading-sitewide {
        font-size: 2rem;
    }

    .cards-container {
        width: 100%;
        margin: 5rem auto 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .card-primary {
        margin-bottom: 3rem;
        width: 415px;
        display: flex;
        flex-direction: column;
    }

    .card-secondary {
        margin-bottom: 5rem;
    }

    .mt--20 {
        margin: 3rem auto 3rem;
    }

    .dark-card {
        margin: 0 auto 2rem auto;
    }

    .card-image-container {
        height: 250px;
        width: 90%;
    }

    .card-image-container:nth-of-type(1) {
        margin: -4rem auto 1rem auto;
    }

    /*END Articles and Card Area Media Queries*/
}

/* @media (max-width: 1400px) {

    .cards-container {
        width: 100%;
        margin: 5rem auto 0 auto;
        display: flex;
    }

    .card-image-container:nth-of-type(1) {
        width: 50%;
        margin: -4rem 40% 1rem auto;
    }

    .card-copy-container {
        width: 100%;
    }

    .card-primary {
        width: 100%;
        margin: 2rem 2rem 6rem 2rem;
    }

    .card-secondary {
        width: 60%;
    }


} */
