@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Heebo:wght@100;400&display=swap');
/*
    font-family: 'Cinzel', serif;

    font-family: 'Heebo', sans-serif;

*/


/*Override browser default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles*/
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;

}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item {
    list-style: none;
    margin-right: 12px;
}

.nav-item {
    text-decoration: none;
}
