@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Heebo:wght@100;400&display=swap');
/*
    font-family: 'Cinzel', serif;

    font-family: 'Heebo', sans-serif;

*/


/*Override browser default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #C7BCAF;
    --color-green: #768377;
    --color-yellow: #CB891D;
    --color-red: #CC625A;
    --color-dark: #383835;
    --color-brown: #6E4A0F;
}

body {
    font-size: 62.5%;
    font-family: 'Heebo', sans-serif;
}

/* Navbar Styles*/
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: var(--color-dark);

}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item {
    list-style: none;
    margin-left: 1rem;
}

.nav-item {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
    color: var(--color-light);
    transition: all 500ms ease-in-out;
}

.nav-item:hover {
    color: var(--color-yellow);
}

#logo {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-light);
}

/*Hero Image and Overlay*/
#heroImg {
    /*Photo by Cristina Gottardi on Unsplash*/
    background: url(assets/images/cristina-gottardi-Pl8ZMtFiyi8-unsplash.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: relative;
}

#imageOverlay {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(56, 56, 53), rgba(56, 56, 53, .5));
}

/*Hero Title and Text*/

#heroContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    margin: 0 auto;
}
